<!--The content below is only a placeholder and can be replaced.-->
<div class="content">
    <h1>
        Welcome to {{title}}!
    </h1>
    <span style="display: block">{{ title }} app is running!</span>
    <img width="300" alt="Angular Logo"
        src="https://i.pinimg.com/564x/a5/59/34/a5593407a2f6ac96a122cd10a12b9789.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
</ul>
<div class="space"></div>
<app-footer></app-footer>